# پوشه محیط مجازی پایتون (Virtual Environment)
venv/
env/
*.pyc
__pycache__/
*.pyo
*.pyd

# فایل‌های محیطی و تنظیمات خصوصی
.env
.env.local
*.log
logs/
debug.log

# فایل‌های کش و موقت
*.sqlite3
*.db
*.swp
.DS_Store
*.bak
*.tmp
*.cache

# فایل‌های وابستگی و نصب
pip-log.txt
pip-delete-this-directory.txt

# تنظیمات و فایل‌های سیستم‌عامل
Thumbs.db
Desktop.ini
$RECYCLE.BIN/

# کلیدهای SSH و گواهی‌های SSL
*.pem
*.key
*.crt
certbot/

# خروجی‌های مربوط به phpMyAdmin
phpmyadmin/

# فایل‌های مرتبط با systemd
/systemd/*.service
