[Unit]
Description=Novingate Telegram Bot
After=network.target

[Service]
User=root
WorkingDirectory=/root/novingate-bot
ExecStart=/usr/bin/python3 /root/novingate-bot/bot.py
Restart=always

[Install]
WantedBy=multi-user.target